@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to OB's Animal Shelter</h1>
  <p class="lead">Get started online now. Saving the lives of animals through adoption, foster care, and spay and neuter program.</p>
  <hr class="my-4">
  <img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="dogs" width="90%" >
</div>
@* <p>@Html.ActionLink("See all animals", "Index", "Animals")</p> *@